<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000607;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'base_index' %}" > Personal Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <ul class="navbar nav">
                <li class="nav-item active"><a class="nav-link" href="{% url 'project_index' %}"> Project </a> </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog_index' %}"> Blog </a></li>
                <li class="nav-item"><a class="nav-link" href="#"> Memories </a></li>
                <li class="nav-item"><a class="nav-link" href="#"> Nest </a></li>
                <li class="nav-item"><a class="nav-link" href="#"> Memos </a> </li>
                <li class="nav-item"><a class="nav-link" href="#"> Todo </a> </li>
                <li class="nav-item">{{ request.user }} </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'logout_user' %}"> Logout </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
{% block page_content %}{% endblock %}
</div>
</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
