{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container px-4">
    <div class="row gx -5">
        <div class="col-md-4 bg-success bg-opacity-10 border border-dark shadow-lg">
            <div class="text-dark text-center">
                <h4 class="fw-bold shadow-sm"> Title </h4>
                <p> {{ project.title }} </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" id="edit-title" class="btn btn-dark">  Edit </button>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 bg-success bg-opacity-10 ms-auto border border-dark shadow-lg">
            <div class="text-black  text-center">
                <h4 class="fw-bold shadow-sm"> Date Created </h4>
                <p> {{ project.date_created }} </p>
            </div>
        </div>
    </div>
   
    <div class="row py-5">
        <div class="col-md-8 border border-dark shadow-lg" >
            <div class="text-black  text-center">
                <h5 class="fw-bold"> Description </h5>
                <p> {{ project.description}} </p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" id="edit-description" class="btn btn-dark">  Edit </button>
            </div>
        </div>
    
        <div class="col-md-2 ms-auto bg-success bg-opacity-20 border border-dark shadow-lg py-2">
            <table class="table table-bordered border-primary">
                <thead class="table table-dark">
                    <tr>
                        <td> Technology </td>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-info">
                        <td>{{ project.technology }}</td>
                        <td>
                            <button type="submit" id="edit-technology" class="btn btn-dark">  Edit </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered border-primary">
                <thead class="table table-dark">
                    <tr>
                        <td> Collaborator </td>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-info">
                        <td> {{ project.collaborator }} </td>
                        <td>
                            <button type="submit" id="edit-collaborator" class="btn btn-dark">  Edit </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>

    <div class="col-md-4 mx-auto">
        <div class="card text-dark bg-secondary bg-opacity-10 mb-3">
            <div class="card-body">
                <h5 class="card-text"> Comments </h5>
                <p> {{ project.comment}} </p>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" id="add-comment" class="btn btn-dark">  Add </button>
            <button type="submit" id="edit-comment" class="btn btn-dark">  Edit </button>
        </div>
    </div>
    
</div>


{% endblock %}