{% extends "base.html" %}
{% load static %}
{% block page_content %}

  <h1> Projects </h1>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" id="feedback" class="btn btn-dark">  Feedback </button>
  </div>

  <div class="container overflow-hidden">
    <div class="row gap-2">
      <div class="col-3">
        <table class="table table-bordered border-primary">
          <thead class="table table-dark">
            <tr>
              <td> Title </td>
              <td> Date </td>
            </tr>
          </thead>
          <tbody>
            {% for project in activeProjects %}
              <tr class="table-info">
                <td><a href="{% url 'project_detail' project.pk %}"> {{ project.title }} </a></td>
                <td> <strong> {{ project.date_created}} </strong> </td>
              </tr>
            {% endfor %}
          </tbody> 
        </table>  
      </div>  

      <div class="col-3">
        <table class="table table-bordered border-primary">
          <thead class="table table-dark">
            <tr>
              <td> Total Project count </td>
              <td> Total Active count </td>
            </tr>
          </thead>
          <tbody>
            <tr class="table-info">
              <td> <strong> {{ totalNumProjects }} </strong> </td>
              <td> <strong> {{ totalNumactiveProjects }} </strong> </td>
            </tr>
          </tbody> 
        </table>  
      </div> 
      
      <div class="col-3">
        <p> {{allCollaboratorList}} </p>
        <p> {{ac}}</p>
      </div>
    </div>
    
    <div class="col text-white">
      <!-- <div class="card text-white bg-dark mb-3"> -->
        <form method="post">
          {% csrf_token %}
          <div class="p-1 border bg-dark">
            <label for="titleid" > Title :</label>
            <div> {{form.title}} </div> 
          </div>
          <div class="p-1 border bg-dark">
            <label for="descriptionid" > Description :</label>
            <div> {{ form.description}} </div>
          </div>
          <div class="p-1 border bg-dark">
            <label for="technologyid"> Technology :</label>
            <div > {{form.technology}} </div>
          </div>
          <div class="p-1 border bg-dark">
            <label for="collaboratorid"> Collaborator :</label>
            <div> {{ form.collaborator}} </div>
          </div>
          <div class="p-1 border bg-dark">
            <label for="statusid"> Status :</label>
            <div> {{ form.status}} </div>
          </div>
          <button type="submit" id="btnsubmit" class="btn btn-primary"> Submit </button>
        </form>
      <!-- </div> -->
    </div>
  </div>

<script src="{% static 'js/jQuery.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}